#wrap{
	width: 95%;
	margin: 20px auto;
}

#menu-table{
	width: 100%;
	border-radius: 10px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 17px;
}

#menu-table th, #menu-table td{
	border: 1px solid #fff;
	padding: 10px;
}

