body{
	background-color: white;
}
	
	.topnav , 
  .topnav_right{
	opacity:0.8;
	background-color:black;
  overflow: hidden;
  font-family: Lucida Sans;
 
}
.topnav a {
  float: left;
  display: block;
  color: white ;
  text-align: center;
  padding : 20px 20px;
  text-decoration: none;
  font-size: 20px;
}
.topnav_right a {
  float: right;
  display: block;
  color: white ;
  text-align: center;
  padding : 20px 20px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
	
	text-align:center;	
	
  color: #F0E68C;
 	
}
.topnav.responsive {position: relative;}
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
* {
  box-sizing: border-box;
}
.hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 3s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.container {
  text-align:center;
  position:relative;
  font-family: Arial;
  background-color:white;
  padding-bottom: 15px;
  font-size: 30px;
}






